<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <appender title="console" class="org.apache.log4j.ConsoleAppender">

        <param title="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param title="ConversionPattern" value="%d{HH:mm:ss.SSS} [%-5p][%t] %l - %m%n"/>
        </layout>
    </appender>

    <logger title="org.springframework">
        <level value="warn"/>
    </logger>

    <logger title="org.apache.zookeeper">
        <level value="warn"/>
    </logger>

    <logger title="org.I0Itec">
        <level value="warn"/>
    </logger>
    <logger title="com.taobao">
        <level value="warn"/>
    </logger>

    <logger title="com.meizu.yard">
        <level value="warn"/>
    </logger>
    <root>
        <priority value="error"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
