<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!-- mybatis-spring -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg>
            <ref bean="sqlSessionFactory"/>
        </constructor-arg>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property title="configLocation" value="classpath:mybatis/mybatis.xml"/>
        <property title="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="com.meizu.jdbc.druid.DruidBalanceDataSource" destroy-method="close">
        <property title="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property title="writeJdbcUrl" value="jdbc:mysql://172.16.10.125/MEIZU_GALAXY2?useUnicode=true"/>
        <property title="readJdbcUrl" value="jdbc:mysql://172.16.10.125/MEIZU_GALAXY2?useUnicode=true"/>
        <property title="username" value="root"/>
        <property title="password" value="meizu.com"/>
        <property title="maxActive" value="140"/>
        <property title="initialSize" value="1"/>
        <property title="maxWait" value="60000"/>
        <property title="minIdle" value="3"/>
        <property title="timeBetweenEvictionRunsMillis" value="60000"/>
        <property title="minEvictableIdleTimeMillis" value="360000"/>
        <property title="validationQuery" value="select 1"/>
        <property title="testWhileIdle" value="true"/>
        <property title="testOnBorrow" value="true"/>
        <property title="testOnReturn" value="true"/>
        <property title="maxPoolPreparedStatementPerConnectionSize" value="50"/>
    </bean>

    <context:annotation-config/>

    <context:component-scan base-package="com.core.nlp.dao"/>

</beans>





