<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:kiev="http://www.meizu.com/kiev/schema/service"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.meizu.com/kiev/schema/service http://www.meizu.com/kiev/schema/service.xsd">

    <kiev:client loadbalancer="roundrobin" timeout="50000"
                 retry="5"/>
    <kiev:registry
            url="zookeeper://172.16.200.239:2181,172.16.200.233:2181,172.16.200.234:2181?timeout=50000000" />

    <kiev:stub id="o2oSearchService" node="/service/search/flyme/o2o"
               serviceName="o2oSearchService" interface="com.meizu.galaxy2.biz.api.O2OSearchService" loadbalancer="roundrobin" timeout="3000" retry="1" />

    <!-- 延迟初始化 -->
    <bean class="hello.utils.LazyBean" init-method="lazy"/>
    <context:annotation-config/>
    <context:component-scan base-package="hello.controller"/>
</beans>