<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klx.storage.vo.TopDrugsCate">
    <sql id="TopDrugsCate_DETAIL_COLUMN_LIST">
		A.FID id,
		A.FCODE code,
		A.FNAME title
	</sql>

    <resultMap id="topDrugsCateResultMap" type="TopDrugsCate">
        <id column="id" property="fid" jdbcType="INTEGER"/>
        <result column="code" property="fcode" jdbcType="INTEGER"/>
        <result column="title" property="fname" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 插入指定数目的类目信息 -->
    <insert id="addTopDrugsCates" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into tb_top_drugs_cate (fcode,fname)
         VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.code},#{item.title})
        </foreach>
    </insert>



    <!-- 获取指定数目的视频信息 -->
    <select id="getTopNames" resultType="string" parameterType="hashmap">
        SELECT
        fname
        FROM tb_top_drugs_cate A
    </select>

</mapper>